body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6e6e6; /* Replace with your desired color */
}
  
/* #root {
    height: 100%;
    padding: 5%;
} */

.game-one-custom {
    height: 100%;
    padding: 5%;
}

.btn-custom {
    background-color: #684a92; /* Replace with your desired color */
    color: white; /* Text color */
}

.btn-custom:active,
.btn-custom:focus {
    background-color: #684a92; /* Replace with your desired color */
    color: white; /* Text color */
    outline: none; /* Remove default focus outline */
}