.tips-custom {
    height: 100%;
    padding: 5%;
    display: grid;
    place-items: center;
}

img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.carousel-caption h3 {
    color: black;
    font-size: 6vw;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the caption */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }